.weather-widget-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}

.weather-widget {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 872px;
    max-height: 90%;
    text-align: center;
}
  
.weather-widget h2 {
    margin-bottom: 20px;
}
  
.current-weather {
    margin-bottom: 20px;
}

.current-weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.current-weather-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
  
.current-weather-details {
    text-align: left;
}

.current-weather-temp {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.current-weather-description {
    font-size: 16px;
    color: #666;
}

.forecast-navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.forecast-tab {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #666;
}

.forecast-tab.active {
    background-image: linear-gradient(45deg, #007bff, #00bfff);
    color: #fff;
}

.forecast-tab:hover {
    background-image: linear-gradient(45deg, #007bff, #00bfff);
    color: #fff;
}
  
.weather-forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.weather-day {
    display: flex;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(45deg, #007bff, #00bfff);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    color: #fff;
}
  
.weather-date {
    font-weight: bold;
}

.weather-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.weather-time {
    font-size: 12px;
}
  
.weather-icon {
    width: 40px;
    height: 40px;
}
  
.weather-temp {
    font-size: 14px;
    margin-bottom: 5px;
}
  
.weather-description {
    font-size: 12px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.weather-humidity {
    font-size: 12px;
}

/* Responsive for mobile screens */
@media (max-width: 768px) {
    .current-weather-info {
        flex-direction: column;
    }

    .current-weather-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .current-weather-details {
        text-align: center;
    }

    .weather-widget {
        padding: 10px;
        width: 90%;
    }

    .weather-day {
        padding: 5px;
        overflow: auto;
        gap: 5px;
    }

    .weather-entry {
        width: 50px;
        min-width: 50px;
        height: 100px;
    }

    .weather-icon {
        width: 30px;
        height: 30px;
    }

    .weather-temp {
        font-size: 12px;
    }

    .weather-description, .weather-humidity {
        font-size: 10px;
    }

    .forecast-tab {
        padding: 5px 10px;
    }
}
