.chat {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.active {
    background-color: #d7d5d5;
}

.chat:hover {
    background-color: #e9e9e9;
}

.chat img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chat .chat-info {
    display: flex;
    flex-direction: column;
}

.chat .chat-info .chat-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat .chat-info .last-message {
    color: #888;
    font-size: 0.9rem;
}

.chat .chat-info .last-message-sender {
    font-weight: bold;
}