.weather-forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.weather-day {
    display: flex;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(45deg, #007bff, #00bfff);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    color: #fff;
}
  
.weather-date {
    font-weight: bold;
}

.weather-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.weather-time {
    font-size: 12px;
}
  
.weather-icon {
    width: 40px;
    height: 40px;
}
  
.weather-temp {
    font-size: 14px;
    margin-bottom: 5px;
}
  
.weather-description {
    font-size: 12px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.weather-humidity {
    font-size: 12px;
}

/* Responsive for mobile screens */
@media (max-width: 768px) {

    .weather-day {
        padding: 5px;
        overflow: auto;
        gap: 5px;
    }

    .weather-entry {
        width: 50px;
        min-width: 50px;
        height: 100px;
    }

    .weather-icon {
        width: 30px;
        height: 30px;
    }

    .weather-temp {
        font-size: 12px;
    }

    .weather-description, .weather-humidity {
        font-size: 10px;
    }

}