.chat-window {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.chat-header {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    max-width: 80%;
}

.message-header {
    display: flex;
    justify-content: start;
    gap: 3px;
    align-items: center;
    margin-bottom: 5px;
}

.message-header .username {
    font-weight: bold;
    margin-right: 10px;
}

.message-header .timestamp {
    font-size: 0.8rem;
    color: #888;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    position: relative;
    gap: 10px;
    align-items: center;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.emoji-button {
    border-radius: 50%;
    padding: 0;
    font-size: 1.5rem;
    width: 37px;
    height: 37px;
    background-color: lightgrey;
}

.emoji-button:hover {
    background-color: #ccc;
    cursor: pointer;
}

.emoji-picker {
    position: absolute;
    bottom: 60px;
    right: 0px;
}